.user-info .title {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.user-info .cross {
  position: absolute;
  right: 0;
  top: 0;
}

.user-info .cross:hover {
  cursor: pointer;
}

.user-info .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid silver;
  padding-top: 10px;
  padding-bottom: 30px;
}
.user-info .info .name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}
.user-info .info .position {
  font-weight: normal;
  font-size: 24px;
  color: gray;
  margin-bottom: 5px;
}

.user-info .img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.user-info .table {
  margin-top: 20px;
  margin-bottom: 15px;
}
.user-info table td {
  padding: 20px 10px;
  margin-bottom: 15px;
}
.user-info table tr td:first-child {
  font-weight: bold;
  font-size: 18px;
}
.user-info table tr td:last-child {
  font-size: 18px;
}